<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link href="/css/landing.css" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="title">
       <h3>URL Shortner</h3>
    </div>
    <div class="items">
        <a href="/redirect" id="use">use code</a>
        <a href="/generate-code" id="generate">generate code</a>
    </div>   
  </nav>

  <section id="intro">
         <div class="intro-div">
            <img src="/image/link.jpg">
            <div class="content">
                <h2 id="head">Short the URL</h2>
                <p id="des">
                    A URL shortener is a tool that converts long web addresses into shorter, easy-to-share links. It helps in saving space, improving readability, and tracking click analytics. Just paste your long URL, and get a clean, compact version to share anywhere.
                </p>
                <a href="/generate-code" class="gen-url-link">
                    <div class="gen-url-btn">
                         Generate code
                    </div>
                </a>
            </div>
         </div>
  </section>
</body>
</html>