<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redirect</title>
    <link href="/css/generate.css" rel="stylesheet">
    <link rel="icon" href="/image/favi.png" type="image/png">
</head>
<body>

    <nav>
        <div class="title">
           <a href="/" id="home"><h3>URL Shortner</h3></a>
        </div>
        <div class="items">
            <a href="/redirect" id="use">use code</a>
            <a href="/generate-code" id="generate">generate code</a>
        </div>   
  </nav>

  <section class="code-gen">
      <div id="code-gen-div">
        <input type="text" id="code-space" placeholder="Paste your CODE here">
        <div class="web-btn">Go to website</div>
      </div>
  </section>
    
<script src="/js/web.js"></script>
</body>
</html>