*{
    margin: 0;
}
nav {
    width: 80%;
    /* border: 2px solid grey; */
    background-color: #1b1b1b;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    display: flex
;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 30px;
    text-decoration: none;
}
.items {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 19%;
    text-decoration: none;
}
.title {
    color: #474747;
}
.content{
    width: 35%;
    margin-left: 51px;
}
#use,#generate{
    text-decoration: none;
    color:#474747;
}
#use:visited, #use:active, #generate:active, #generate:visited {
    color:  #474747;
    text-decoration: none;
}
body {
    background-color: #000000;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#code-gen-div {
    width: 530px;
    height: 270px;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 15px;
    text-align: center;
    border: 3px solid #4f5f6f;
}
#url, #code-space {
    width: 75%;
    color: #585b5c;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #4f5f6f;
    height: 50px;
    border-radius: 10px;
    margin-top: 10%;
    background-color: #202020;
    outline: none;
}
.code-btn, .web-btn {
    width: 40%;
    cursor: pointer;
    color: #585b5c;
    border-style: none;
    border: 2px solid #4f5f6f;
    background-color: #202020;
    height: 50px;
    border-radius: 10px;
    margin-top: 7%;
    display: flex
;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.copy{
    width: 20%;
    color: #585b5c;
    border-style: none;
    border: 2px solid #4f5f6f;
    background-color: #202020;
    height: 50px;
    border-radius: 10px;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    cursor: pointer;
}
.hide{
    display: none;
}

::placeholder{
    color: #585b5c;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#home{
    text-decoration: none;
    color: #002230;
}

#home:active, #home:visited {
    color: #474747;
    text-decoration: none;
}