*{
    margin: 0;
}
body {
    background-color: #111111;
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav {
    width: 80%;
    /* border: 2px solid grey; */
    background-color: #484848;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    display: flex
;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 30px;
    text-decoration: none;
}
.items {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    width: 19%;
    text-decoration: none;
}
.title{
   color: #101010;
}
.content{
    width: 50%;
    margin-left: 51px;
}
.intro-div {
    border: 2px solid #5c5c5c;
    display: flex;
    margin-top: 115px;
    border-radius: 20px;
    margin-left: 195px;
    width: 70%;
}
.gen-url-btn {
    color: #2d2d2d;
    border: 3px solid #8d8d8d;
    background-color: #959595;
    padding: 20px 35px 20px 35px;
    margin-top: 50px;
    border-radius: 15px;
}
.gen-url-link,.gen-url-link:active,.gen-url-link:visited{
    width: 35%;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;

}
#head{
   color: #6a6a6a;
    margin-top: 80px;
}
#des {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: #6a6a6a;
}
img {
    width: 40%;
    border-radius: 19px 0 0 19px;
}
#use,#generate{
    text-decoration: none;
   color: #2e2e2e;
}
#use:visited,#use:active,#generate:active,#generate:visited{
   color: #101010;
    text-decoration: none;
}

#home{
    text-decoration: none;
    color: #101010;
}
#home:visited,#home:active{
    text-decoration: none;
    color: #101010;
}



